@import "tailwindcss";

:root {
  --red-50:  #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --red-950: #450a0a;

  --brand-color: var(--red-500);
}

@layer utilities {
  .bg-brand {
    /*background-color: #4d0f0e;*/
    background-color: var(--red-800);
  }
  .bg-brand-bright{
    background-color: var(--brand-color);
  }
  .text-brand{
    color: var(--brand-color);
  }

  .border-brand{
    border-color: var(--brand-color);
  }

  .bg-skin{
    background-color: #f39e7c;
  }
}

